
.titulo {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    

   
}
.titulo2 {
    font-size: 20px;
    color: white;
    margin: 10px;
}

.titulo-img {
    border-radius: 10px;
    width: 1000px;
    height: 800px;
}

main {
    background-color: #201D1D;
}